.content {
    margin: 100px 0;
    padding: 0 50vh;
}
body {
  background-image: url('background2.png'); /* path to your image */
  background-size: cover;       /* makes image cover the whole screen */
  background-repeat: no-repeat; /* prevents tiling */
  background-position: center;  /* centers the image */
}


h1 {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding:0 27vh;
}

.fun button {
    background-color: rgb(255, 188, 200);
    color: rgb(255, 255, 255);
    font-size: 15px;
    border: 1px;
    border-color: bisque;
    border-radius: 10px;
    padding:10px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
     cursor: pointer;
}
 .fun button:hover {
      background-color: #fb87a2; /* darker green */
      transform: scale(1.05); /* slightly bigger */
    }